.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.card__like-button_active {
  background: url(../images/like-active-new.svg);
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__delete-button {
  background: url(../images/delete-icon.svg);
  background-color: transparent;
  width: 18px;
  height: 18px;
  border: 0;
  position: absolute;
  top: 23px;
  right: 23px;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
